# project
*
!*/

# general
!/CHANGELOG.md
!/CONTRIBUTING.md
!/LICENSE
!/README.md
!/banner.png

# git
!/.gitattributes
!/.gitignore

# ci/cd
!/.github/**/*

# editor config
!/.editorconfig

# node
!/package.json
!/package-lock.json
!/jsconfig.json
!/next.config.js

# docker & docker compose
!/docker-compose*.yml
!/Dockerfile*

# sources, resources, documentation & tests
!/src/**/*
!/public/**/*
