.game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  div {
    display: block;
    flex-direction: row;
    
    input {
      margin: 5px;
      width: 80px;
      color: #404040;
      border: 0.5px solid brown;
      background-color: #FFEFE0;
    }
  }

  input[type=button] {
    color: #FFEFE0;
    background-color: rgb(173, 140, 125);
    padding: 7px 15px;
    margin: 10px 10px;
    border: 0.5px solid;
    border-color: rgb(107, 84, 72);
  }

  label {
    margin-bottom: 10px;
  }
}

.hidden {
  display: none;
}
