@import url("https://use.typekit.net/hgd0lum.css");

body {
  width: 100%;
  background-image: url('/booty/static/images/old_paper_1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  font-family: 'ArnoPro';
  font-size: 18px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

input {
  font-family: 'ArnoPro';
}

label {
  font-size: 18px;
}

@font-face {
  font-family: 'ArnoPro';
  src: url('/booty/static/fonts/ArnoPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArnoPro';
  src: url('/booty/static/fonts/ArnoPro-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

